# Python
__pycache__/
*.py[cod]

# Virtual environment
.venv/

# VS Code
.vscode/

# Spark output
data/bronze/
data/silver/
data/gold/

# Generated raw data
data/raw/

# Spark temporary files
*.crc

# OS files
.DS_Store
Thumbs.db